<%= form_with model: [@customer, @transaction] do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :unit_price %>
    <%= form.number_field :unit_price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :transaction_customer_id, value: @customer.id, type: :hidden %>
  </div>

  <div class="actions btn btn-secondary btn-lg btn-block"">
    <%= form.submit %>
  </div>
<% end %>
