<p id="notice"><%= notice %></p>

<p>
  <strong>Ucode:</strong>
  <%= @supplier.ucode %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @supplier.company_name %>
</p>

<p>
  <strong>Company contact number:</strong>
  <%= @supplier.company_contact_number %>
</p>

<p>
  <strong>Company address:</strong>
  <%= @supplier.company_address %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>



<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Supplier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplier.products.each do |product| %>
      <tr>
        <td><%= product.barcode %></td>
        <td><%= product.description %></td>
        <td><%= product.quantity %></td>
        <td><%= product.cost %></td>
        <td><%= product.supplier_id %></td>
        <td><%= link_to 'Show', supplier_products_path(@supplier, product) %></td>
        <td><%= link_to 'Edit', edit_supplier_product_path(@supplier, product) %></td>
        <td><%= link_to 'Destroy', supplier_product_path(@supplier, product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_supplier_product_path(@supplier) %>

